#!/bin/zsh

# Searches running processes by name
#
# Usage:
#   con-search-proc docker
#
con-search-proc(){
  ps aux | grep "$1"
}

# This will log a timestamp to the left of each line of stdout
#
# Usage:
#   install-something | con-line-times
#
con-line-times(){
  while read line ; do echo "$(date) | $line"; done;
}
