#!/bin/bash

# General
alias con-bashedit="subl ~/.bash_profile"

# Git
alias con-reorigin="git stash && git fetch origin && git checkout master && git reset --hard origin/master && git remote prune origin"
alias con-reupstream="git stash && git fetch upstream && git checkout master && git reset --hard upstream/master && git remote prune upstream && git remote prune origin"

# Editors
# if hash subl 2>/dev/null; then
#   gdate "$@"
# fi

ssh_pi(){
  "ssh pi@$1.local -R 52698:localhost:52698"
}
